form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  
  input[type="submit"] {
    display: block;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position:relative;
    left: 10px
  }
  #mensagem-enviada{
    position: relative;
  }
  
  input[type="submit"]:hover {
    background-color: #0060ad;
  }

  h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #007bff;
    text-shadow: 1px 1px 1px #ccc;
    font-family:'Monaco', "Monaco", monospace;
  }

  input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }
  
  input[type="file"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 3px #007bff;
  }
  #home{
    position: relative;
    bottom: 40px;
    margin:auto;
    left: 50px;
  }